/* App.css */

/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales del body */
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f9;
  font-family: Arial, sans-serif;
}

/* Contenedor principal */
.App {
  text-align: center;
  padding: 2rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

/* Estilo del input */
.color-input {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #9f9e9e;
  color: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
  margin-bottom: 20px;
}

.color-input:focus {
  outline: none;
  border-color: #646cff; 
  box-shadow: 0 0 5px rgba(100, 108, 255, 0.5);
}

/* Contenedor de los cuadros */
.box-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 10px;
}

/* Estilo de cada cuadro */
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-width: 2px;
  border-radius: 5px;
  border-style: solid;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.box p {
  margin: 0;
  text-transform: capitalize;
}

/* Estilo del mensaje de resultado */
.result-message {
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

/* Estilos específicos para el tema oscuro (opcional) */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #242424;
  }

  .App {
    background-color: #333;
    color: #f4f4f9;
  }

  .color-input {
    background-color: #444;
    color: white;
    border: 1px solid #555;
  }

  .box {
    border-color: #555;
    color: white;
  }

  .box-container {
    border-color: #555;
  }

  .result-message {
    color: #f4f4f9;
  }
}
